<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {{ drawChart(geo) }}
    {{ drawChart(geo2) }}
    {{ drawChart(geo3) }}
    {{ drawChart(geo4) }}
    {{ drawChart(geo5) }}
</head>
<body>
    <div id="geo"></div>
    <div id="geo2"></div>
    <div id="geo3"></div>
    <div id="geo4"></div>
    <div id="geo5"></div>
</body>
</html>
