<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {{ drawChart(line) }}
    {{ drawChart(line2) }}
    {{ drawChart(line3) }}
    {{ drawChart(line4) }}
    {{ drawChart(line5) }}
</head>
<body>
    <div id="line"></div>
    <div id="line2"></div>
    <div id="line3"></div>
    <div id="line4"></div>
    <div id="line5"></div>
</body>
</html>
