<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {{ drawChart(piechart) }}
    {{ drawChart(piechartArrayTable) }}
    {{ drawChart(piechart3D) }}
    {{ drawChart(pieDonut) }}
    {{ drawChart(pieDonut2) }}
    {{ drawChart(pieRotate) }}
    {{ drawChart(pieSlices) }}
    {{ drawChart(pacman) }}
    {{ drawChart(pieTreshold) }}
    {{ drawChart(pieAllIn) }}
</head>
<body>
    <div id="piechart"></div>

    <div id="piechartArrayTable"></div>

    <div id="piechart3D"></div>

    <div id="pieDonut"></div>

    <div id="pieDonut2"></div>

    <div id="pieRotate"></div>

    <div id="pieSlices"></div>

    <div id="pacman"></div>

    <div id="pieTreshold"></div>

    <div id="pieAllIn"></div>
</body>
</html>
